<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biptek.posbiptek">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_biptek2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_biptek2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.BarcodeScanner"></activity>
        <activity android:name=".activity.ManajemenToko" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUp" />
        <activity android:name=".activity.homeadmin" />
        <activity android:name=".activity.homeowner" />
        <activity android:name=".activity.homekasir" />
        <activity android:name=".activity.More_admin" />
        <activity android:name=".activity.tambahpembelian" />
        <activity android:name=".activity.pilihprodukpembelian" />
        <activity android:name=".activity.TambahPenjualan" />
        <activity android:name=".activity.daftarhutang" />
        <activity android:name=".activity.daftarkontak" />
        <activity android:name=".activity.daftarproduk" />
        <activity android:name=".activity.hutang" />
        <activity android:name=".activity.laporankeuangan" />
        <activity android:name=".activity.laporanpembelian" />
        <activity android:name=".activity.laporanpenjualan" />
        <activity android:name=".activity.TambahProduk" />
        <activity android:name=".activity.manajemen_user" />
        <activity android:name=".activity.manajemen_perusahaan" />
        <activity android:name=".activity.DaftarPengeluaran" />
        <activity
            android:name=".activity.tambahuser"
            android:parentActivityName=".activity.manajemen_user" />
        <activity android:name=".activity.editUser" />
    </application>

</manifest>