<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biptek.posbiptek">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"></uses-permission-sdk-23>
    <uses-permission-sdk-23 android:name="android.permission.VIBRATE"></uses-permission-sdk-23>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_biptek2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_biptek2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUp"></activity>
        <activity android:name=".activity.homeadmin"></activity>
        <activity android:name=".activity.homeowner"></activity>
        <activity android:name=".activity.homekasir"></activity>
        <activity android:name=".activity.More_admin"></activity>
        <activity android:name=".activity.tambahpembelian"></activity>
        <activity android:name=".activity.pilihprodukpembelian"></activity>
        <activity android:name=".activity.tambahpenjualan"></activity>
        <activity android:name=".activity.daftarhutang"></activity>
        <activity android:name=".activity.daftarkontak">
        </activity>
        <activity android:name=".activity.daftarproduk">
        </activity>
        <activity android:name=".activity.hutang"></activity>
        <activity android:name=".activity.laporankeuangan"></activity>
        <activity android:name=".activity.laporanpembelian"></activity>
        <activity android:name=".activity.laporanpenjualan"></activity>
        <activity android:name=".activity.tambahproduk"></activity>
        <activity android:name=".activity.manajemen_user"></activity>
        <activity android:name=".activity.manajemen_toko"></activity>
        <activity android:name=".activity.tambahuser"
            android:parentActivityName=".activity.manajemen_user"></activity>
        <activity android:name=".activity.editUser"></activity>
    </application>

</manifest>